version: '3.8'

services:
  jackett:
    image: linuxserver/jackett:latest
    container_name: jackett
    env_file:
      - ../.config/.credentials
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=UTC
    volumes:
      - ./config:/config
    ports:
      - "9117:9117"
    restart: unless-stopped
