# Copy this file to `networking/.config/.credentials` and edit with real values (do NOT commit).
# Example (for local testing only):

# AdGuard admin credentials
ADGUARD_ADMIN_USER=
ADGUARD_ADMIN_PASS=